<!DOCTYPE html>
<html lang="en" xmlns:mso="urn:schemas-microsoft-com:office:office" xmlns:msdt="uuid:C2F41010-65B3-11d1-A29F-00AA00C14882">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    
    <title>Danillo</title>

<!--[if gte mso 9]><xml>
<mso:CustomDocumentProperties>
<mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_SharedWithUsers msdt:dt="string">Tecnicas Avancadas de Programacao Web e Mobile-A929-N-ADS AMS-111-20230 Members</mso:display_urn_x003a_schemas-microsoft-com_x003a_office_x003a_office_x0023_SharedWithUsers>
<mso:SharedWithUsers msdt:dt="string">7;#Tecnicas Avancadas de Programacao Web e Mobile-A929-N-ADS AMS-111-20230 Members</mso:SharedWithUsers>
</mso:CustomDocumentProperties>
</xml><![endif]-->
</head>
<body class="bg-body-tertiary">
    <div class="container text-center bg-body-tertiary">
        <div class="row">
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col bg-primary">
                <nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
                    <div class="container-fluid">
                        <a class="navbar-brand" href="#">DANILLO WEB</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                            <div class="navbar-nav">
                                <a class="nav-link active" aria-current="page" href="#">Cadastrar</a>
                                <a class="nav-link" href="#">Consultar</a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="col-1">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col bg-white">
                &nbsp;
            </div>
            <div class="col-1">
                &nbsp;
            </div>
        </div>
        <div class="row">
            <div class="col-1">
                &nbsp;
            </div>
            <div class="col bg-white">
                <p class="text-start fs-5">Cadastrar - Agendamento de Clientes</p>
                <p class="text-start fs-6">Sistema Utilizado para Agendamento de Serviços.</p>
                <p>
                    <form action="/cadastrar" method="POST">
                        <div class="mb-3 text-start">
                            <label for="exampleInputEmail1" class="form-label">Nome:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputEmail1" class="form-label">Telefone:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputEmail1" class="form-label">Origem:</label>
                            <select class="form-select" aria-label="Default select example">
                                <option selected>Celular</option>
                                <option value="1">Whatsapp</option>
                                <option value="2">Telefone Fixo</option>
                            </select>
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputEmail1" class="form-label">Data do Contato:</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3 text-start">
                            <label for="exampleInputEmail1" class="form-label">Observação:</label>
                            <textarea class="form-control" placeholder="" id="floatingTextarea2" style="height: 100px"></textarea>
                        </div>
                        <div class="mb-3 text-start">
                            <button type="button" class="btn btn-primary">CADASTRO</button>
                        </div>
                    </form>
                </p>
            </div>
            <div class="col-1">
                &nbsp;
            </div>
        </div>
    </div>
</body>
</html>